.colorBtn button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59d0ff;
  color: white;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

.colorBtn button:active {
  position: relative;
  top: 1px;
}
